.side__body
  .side__body--top
    .side__body--top__name
      %p ryouheimaehira
    .side__body--top__edit
      = link_to  do
        %i.fas.fa-edit
    .side__body--top__configuration
      = link_to  do
        %i.fas.fa-certificate
  .side__main
    .side__main__group
      .side__group1
        .div.group__name
          神
        .div.group__message
          aaaaaaaaa
      .side_group2
        .div.group__name
          aaaaaaaaaa
        .div.group__message
          まだメッセージはありません
      .side_group3
        .div.group__name
          aaaaaaaaaaaaaa
        .div.group__message
          まだメッセージはありません。
