.main__body
  .main__body__header
    = link_to  do
      %h3 edit
    %h2 Sampleグループ
    %p member neo neko

  .messeges__body
    .messeges__body__list
      .messeges__body__list__1
        .div.messages__name
          ryouskemaehira
        .div.messages__time
          2016/10/02 06:27:14
        .div.messages__text
          お腹すいた
      .messeges__body__list__2
        .div.messages__name ryousukemaehira
        .div.messages__time 2016/10/02 06:27:07
        .div.messages__text なるほど
  .footer__body
    .footer__body--form
      .footer__body--form--text
        %input{ :placeholder => "type a message", :class => "message"}
          %label{ :class => "icon", :for => ""}
            =link_to do
              %i.fa.fa-image
        %input{ :type => "submit", :value => "send", :class => "submit"}


